@nav-color: #2F92CD;
@shrift-color: #26683F;
@font: italic;

.blue {
  color: @nav-color;
}

html, body{
  background-color: #E9EBEE;
}
//header div
.header {
  background-image: url("../images/954443-sri-lanka.jpg");
  background-size: 100% 100%;
  min-height: 650px;
  position: relative;
  background-repeat: no-repeat;
  margin-bottom: 200px;

  @media all and (max-width: 600px) {
    min-height: 300px;
    margin-bottom: 50px;
  }

  //navigational bar
  nav {
    max-width: auto;
    width: 100%;
    height: auto;
    background: transparent;
    color: white;
    padding-top: 30px;


    .ul-nav {
      margin: 0 auto;
      max-width: 900px;
      width: 100%;
      padding: 8px 10px;
      color: white;
      font-size: 20px;
      background-color: rgba(255,255,255,0.5);
    }

    //dropdown
    .dropdown {
      display: inline-block;
      padding: 0 20px;
      position: relative;
      display: inline-block;
      position: relative;
      display: inline-block;

      &:hover .dropdown-content {
          display: block;
          padding: 0;
      }

       a {
        color: black;
        font-family: Georgia, serif;
        padding: 0 5px;
      }

      //dropdown-content
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: @nav-color;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          opacity: 0.9;

         li {
            list-style-type: none;
          }
         li a {
            color: black;
            padding: 12px 0;
            text-decoration: none;
            display: block;
            font-size: 15px;
            text-align: center;
          }
         li:hover {
          background-color: lighten(@nav-color, 10%);
          }
      }
    }
  }
  //logo
  img {
    width: 300px;
    min-height: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    @media all and (min-width: 500px) and (max-width: 600px) {
      width: 40%;
      // min-height: 300px;
      position: absolute;
      top: 40%;
      left: 50%;
      margin-right: -50%;
      margin-top: 10px;
      transform: translate(-50%, -50%);
    }
    @media all and (max-width: 499px) {
      width: 50%;
      min-height: 200px;
      position: absolute;
      top: 40%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  //middle changing pictures
 .insertPicture {
    background-image: url("../images/header-image-04-0x288.jpg");
    min-width: 400px;
    min-height: 200px;
    max-width: 500px;
    max-height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow:10px 16px 16px 1px rgba(0,0,0,0.2);
    cursor: pointer;
    animation: fadeIn .5s ease-in 1 forwards;
    transition: 1s;

    @media all and (max-width: 650px) {
      display: none;

    }

  }
  .insertPicture2 {
     background-image: url("../images/hotel-at-evening-0x288.jpg");
     width: 400px;
     height: 200px;
     max-width: 500px;
     max-height: 400px;
     position: absolute;
     background-repeat: no-repeat;
     background-position: right;
     top: 95%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     border-radius: 10px;
     box-shadow:10px 16px 16px 1px rgba(0,0,0,0.2);
     cursor: pointer;
     transition: 1s;

     @media all and (max-width: 550px) {
       display: none;
     }

   }
}
//
.gallery {
  text-align: center;
  margin-bottom: 100px;
  color:@shrift-color;
  font-family: italic;
}
//about
.about {
  padding:0 50px;

    h1 {
      text-align: center;
      font-family: italic;
      color: @shrift-color;
      text-transform: capitalize;
      position: relative;
      bottom: -5%;
      right: 50%;
      transform: translate(50%, 50%);
      padding: 0 50px;
      background-color:#E9EBEE;

    }
    p {
      font-weight: 400;
      font-family: italic;
      font-size: 20px;
      margin-bottom: 100px;
      color: @shrift-color;
      }
    .aboutDescription {
      border-top: 3px solid #57B2E4;
      width: 100%;
      height: auto;
      padding-top: 50px;
      }
    span {
      margin-left: 10px;
      }
}

//container for gallerry
.container_img {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    cursor: pointer;

    .container {
      position: relative;
      display: inline-block;
      width: 33.3%;

      @media all and (min-width: 500px) and (max-width: 700px) {
        position: relative;
        display: inline-block;
        width: 50%;
      }
      @media all and (max-width: 499px) {
        position: relative;
        display: inline-block;
        width: 100%;
      }
    }


    .image {
      width: 100%;
      height: auto;
    }
    .img_onClick {
      width: 90%;
      margin: 0 auto;
      position: absolute;
      -webkit-transition: all .4s ease-in;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.8);
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: .5s ease;
    }

    .container:hover .overlay {
      width: 100%;
    }

    .text {
      white-space: nowrap;
      color: #26683F;
      font-size: 30px;
      font-family: italic;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
}
//main container for text lay-out
.container-text {
  width: 90%;
  margin:0 auto;
  padding: 40px 0;
  color: @shrift-color;
  font-family: @font;
  font-size: 22px;


  h3 {
    font-size: 25px;
    position: relative;
    margin-top: 70px;
  }
  h1 {
    text-align: center;
  }
  img {
    width: 30%;
    border-radius: 10px;
    float: right;
    margin-left: 10px;

    @media all and (min-width: 500px) and (max-width: 800px) {
      width: 50%;
      border-radius: 10px;
      float: right;
      margin-left: 10px;
    }
    @media all and (max-width: 499px) {
      width: 100%;
      border-radius: 10px;
      float: right;
      margin-bottom: 10px;
    }

  }
  p {
    // margin-bottom: 60px;
    word-spacing: 5px;
  }
//layout for 3 pictures in a row (desktop)
  .room_gallery {
    width: 100%;
    display: inline-block;

    .room_img_container {
      width: 32%;
      display: inline-block;

      @media all and (max-width: 500px) {
        width: 100%;
        display: inline-block;
      }
      // @media all and (max-width: 499px) {
      //   width: 100%;
      //   display: inline-block;
      // }

      img {
        width: 100%;
        margin-bottom: 60px;

        @media all and (max-width: 500px) {
          margin-bottom: 0;
        }
      }
    }
  }
  img.prices_picture {
    width: 40%;
    float: right;

    @media all and (max-width: 800px) {
      width: 100%;
      display: inline-block;
      margin: 30px 0;
    }
  }
  img.left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .prices_table {
    width: 100%;

    table, th, td {
      border-top: 1px solid @nav-color;
      padding: 10px;
      font-size: 17px;
      text-align: center;
    }
  }
  ul.prc_include {
    li {
      margin: 10px;
      font-size: 17px;
    }
  }
  p.red {
    color: red;
  }
  p.blue {
    color: @nav-color;
  }
  p.price_end {
    font-size: 17px;
  }
  a {
    color: @nav-color;
    text-decoration: none;
    cursor: pointer;
  }
  .contact_us {
    text-align: left;
  }
  ul.smallerTxt li {
    font-size: 20px;
    margin: 10px;
  }
  //form
  form {
    display: block;
    font-size: 20px;
    table, th, td {
      padding: 10px;
    }
    .bigger {
      width: 100px;
      height: 100px;
    }
  }
}
//gap between container and every thing below
.gap {
  width: 100%;
  height: 80px;
  border: 1px solid transperant;
}

h1.quote {
  text-align: center;
  font-family: italic;
  margin-bottom: 100px;
  color: @shrift-color;
  position: relative;
  margin-top: 100px;
}
//footer
.footer {
  height: auto;
  background-color:#64A843;
  padding: 40px 100px;

  @media all and (max-width: 800px) {
    padding:40px;
  }

  div {
    display: inline-block;
    position: relative;
    width: calc(50% - 5px);
    height: auto

  }
  .contacts {
     a {
      color: #191970;
      margin-bottom: 10px;
    }
    .map {
      border-bottom: 20px;
    }
  }
  .copyright {
    text-align: right;
  }
}
