@font-face {
	font-family: 'AvalonMedium';
	src: url('42855lith.eot');
	src: url('42855lith.eot?#iefix') format('embedded-opentype'),
	url('42855lith.woff') format('woff'),
	url('42855lith.ttf') format('truetype'),
	url('42855lith.svg#42855lith') format('svg');
	font-weight: normal;
	font-style: normal;
}
